@model PagedList.IPagedList<EcuAsistencias.Models.Usuario>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
	ViewBag.Title = "Usuarios";
}
 
<br />
<h2>Buscar Usuario por Identificacion</h2>
@using (Html.BeginForm(null, null, FormMethod.Get))
{
	@Html.TextBox("cedula")
	<input type="submit" value="Buscar" />
}


<p>
	@Html.ActionLink("Nuevo", "newUser")
</p>
<table class="table">
	<tr>
		<th>
			<label>Nombre</label>
		</th>
		<th>
			<label>Apellido</label>
		</th>
		<th>
			<label>Identificacion</label>
		</th>

		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Nombre)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Apellido)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Identificacion)
			</td>
			<td>
				@Html.ActionLink("Editar", "Editar", new { id=item.Identificacion }) |
				@Html.ActionLink("Detalles", "Detalles", new { id=item.Identificacion }) |
				@Html.ActionLink("Borrar", "Borrar", new { id=item.Identificacion })
			</td>
		</tr>
	}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("viewLista",
	new { page }))
