@model IEnumerable<EcuAsistencias.Core.ReportModels.ReporteAsistenciaDiariaModel>

@{
    ViewBag.Title = "Reporte Asistencia Diaria";
}

<h2>Reporte Asistencia Diaria</h2>

<hr />
<h4>Filtros de Búsqueda</h4>
@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <input type="date" name ="fechaDia"/>
    <input type="submit" value="Buscar" name="accion"/>
}
<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asistio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraSalida)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asistio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraSalida)
        </td>
    </tr>
}

</table>
